body {
    font-family: sans-serif;
}
.contenedor3 {
    background-color:rgb(140, 195, 240);
    height: 40vh;
    margin: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
}
p {
    width: 70%;
}